<meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title>
    <%= htmlWebpackPlugin.options.title %>
</title>
</head>
<body>
    <fast-design-system-provider>
        <h1>Hello world!</h1>
        <fast-button id="submit-search" appearance="neutral">Submit</fast-button>
    </fast-design-system-provider>
    <script>
        var codeVersion = "<%= __webpack_hash__ %>";
    </script>
</body>
</html>